*{
    margin: 0px;
}

html{
    height: 100%;
}
body{
    background-image: linear-gradient( #0046ae, #9198e5);
}
div{
    width: 300px;
    height: 400px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    text-align: center;
    margin: 130px 600px auto 600px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #2e2e2e;
}
div:hover{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));  
}
p{
    color: white;
    text-shadow: 3px 3px 5px #2e2e2e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.MP{
    padding-top: 7px;
    padding-bottom: 7px;
}
ul{
    padding-right: 40px;
    margin-top: 15px;
}

li{
    display: inline-block;
    margin : 0px;
}

input{
    width: 280px;
}

.Time{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    padding: 0px;
}
.S{
    margin-right: 185px;
}

.play{
    margin-left: 25px;
    margin-right: 25px;
}
button{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

button:hover{
    border-color: #bebebe;
}
.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back
.for
.play while mouseover -> {
    border-color: #bebebe;
}
